{
  "plugins": [],
  "presets": [
    ["@babel/preset-typescript"],
    [
      "babel-preset-gatsby",
      {
        "reactRuntime": "automatic",
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
