{
  "extends": ["react-app", "plugin:mdx/recommended"],
  // optional, if you want to lint code blocks at the same time
  "settings": {
    "mdx/code-blocks": true,
    // optional, if you want to disable language mapper, set it to `false`
    // if you want to override the default language mapper inside, you can provide your own
    "mdx/language-mapper": {}
  },
  "rules": {
    "react/jsx-pascal-case": [
      2, {
        "allowNamespace": true
      }
    ]
  },
  "ignorePatterns": [
    "**/public/*.js",
    "**/public/**/*.js",
    "content/blog/2022-08-14-screenpy.mdx" //Presentación de power point no carga y saca errores
  ]
}
